ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0; /* Removes the default left padding */
  margin: 0; /* Removes the default top/bottom margins */
  font-size: 16px;
}

.todoText {
  display: inline-flex;
  font-size: 18px;
  width: 90%;
  max-width: 95%;
}

.todoPaper {
  border-radius: 5px;
  margin: 5px 0px;
  color: black;
  font-size: 16px;
  padding: 10px;
  background-color: #ffffff;
  display: inline-flex;
  width: 99%;
}
